@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: min(25%, 500px) 1fr;
}

#graph {
  width: 100%;
  height: 100%;
  display: block;
}

#text-io {
  border-right: 5px solid black;
  padding: 0.5em;
  overflow-y: auto;
}

#mode-selection {
  display: block;
  margin-bottom: 0.5em;
}

#text-io input {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.25em;
  width: 100%;
  display: inline-block;
  margin-bottom: 0.5em;
}

#text-io .output {
  margin-bottom: 0.5em;
}

#count {
  width: 50% !important;
}
