@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#graph {
  display: block;
  height: 100%;
  width: 100%;
}

input,
p {
  display: inline;
  font-family: "IBM Plex Mono", monospace;
}
